body {
    font-family: 'Arial', sans-serif;
}

header {
    background: url('assets/img/hero-bg.jpg') no-repeat center center/cover;
    color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
}

.nav-link:hover {
    text-decoration: underline;
}